

ul {
    background-color: black;

}
table {
    background-color: white;
    color: black;
    border: black 1px solid;
}
#graph {
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 200px;
    height: 700px;
    width: 1200px;
}



  @media(min-width:992px) {
    .affix-content .container {
    width: 700px;
  }

  html,body{ background:#f9f9f9;
    height: 100%;
    overflow: hidden;
  }
  #wrapper{padding:90px 15px;}
  .navbar-expand-lg .navbar-nav.side-nav{flex-direction: column;}
  .card{margin-bottom: 15px; border-radius:0; box-shadow: 0 3px 5px rgba(0,0,0,.1); }
  .header-top{box-shadow: 0 3px 5px rgba(0,0,0,.1)}
  .leftmenutrigger{display: none}

  .leftmenutrigger{display: block;display: block;margin: 7px 20px 4px 0;cursor: pointer;}
  #wrapper{padding: 90px 15px 15px 15px; }
  .navbar-nav.side-nav.open {left:0;}
  .navbar-nav.side-nav{background: #585f66;box-shadow: 2px 1px 2px rgba(0,0,0,.1);position:fixed;top:56px;flex-direction: column!important;left:-220px;width:200px;overflow-y:auto;bottom:0;overflow-x:hidden;padding-bottom:40px}
  }
  .animate{-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;transition:all .3s ease-in-out}

    .affix-content .container .page-header{
    margin-top: 0;
  }

  .sidebar-nav{
        position:relative;
        width:100%;
  }
  .affix-sidebar{
    padding-right:50;
    font-size:small;
    padding-left: 0;
  }
  .affix-row, .affix-container, .affix-content{
    height: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .affix-content{
    background-color:white;
  }
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar{
    border-radius:0;
    margin-bottom:0;
    border:0;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

@media (min-width: 769px){
  .affix-content .container {
    width: 600px;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
}

@media (min-width: 992px){
  .affix-content .container {
  width: 900px;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
}

@media (min-width: 1220px){
  .affix-row{
    overflow: hidden;
  }

  .affix-content{
    overflow: auto;
  }

  .affix-content .container {
    width: 1000px;
  }

  .affix-content .container .page-header{
    margin-top: 0;
  }
  .affix-content{
    padding-right: 30px;
    padding-left: 30px;
  }
  .affix-title{
    border-bottom: 1px solid #ecf0f1;
    padding-bottom:10px;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar-collapse{
    padding: 0;
  }
  .sidebar-nav .navbar li a:hover {
    background-color: #428bca;
    color: white;
  }
  .sidebar-nav .navbar li a > .caret {
    margin-top: 8px;
  }
}
