.progress {
  margin-top:10px;
}

.bg-light {
    background-color: #701020!important;
      margin-top:30px;
}

.bouton{
    padding:0px;
    width:80px;
    height:30px;
    margin-left:125px;
    color:#red;
    background:#9FDA90;
    border:1px solid #6EB45C;
    margin-top:30px;
}
.bouton:hover{
    cursor:pointer;
    margin-top:30px;
}
.bouton:active{
    position:relative;
    left:1px;
    top:1px;
    margin-top:30px;
}

.bouton:hover{
    cursor:pointer;
    background-color:#fff;
    margin-top:30px;
}

.navbarTogglerDemo02 {
 background-color: #F8F8F8;
 border-color: #E7E7E7;
 margin-top:3px;
}
